#!/bin/bash
# Minecraft server management
# Version en/us 3.0.0.0-#0 made by Argantiu GmBh 06/21/2022 UTC/GMT +1 https://crazycloudcraft.de

# Use STRG + k + x to save this settings (with joe's editor)
# Use STRG + c to close it without saveing (you can edit the config with ./config command)

# Define your Minecraft version. For exaple 1.18.2, 1.18.1, 1.18, ...
# Some software types don't need the Minecraft version e. g. velocity or bungeecord.
# But it's better when you set here a version.
MAINVERSION=1.18.2

# You can use: < PAPER | PURPUR | MOHIST | VELOCITY | BUNGEECORD | WATERFALL >
#  Alpha versions: < SPIGOT | BUKKIT >
ASOFTWARE=PAPER

# Do you have a Subfolder for your server(s)? We recommend to set and use one.
# E.g. home/server/(serverbase) or opt/(serverbase)
OPTBASE=opt

# Set your server folder, where your server shall run (serverbase).
SERVERBASE=Paper

# Wich system-name should have the console and main.jar?
# Don't use something like "system" or "main" for example, 
# because the system sometimes already use this names.
MCNAME=mcpaper
# Save is, to put "mc" before that name.

#Should your server have a stop counter? (This will not work on Velocity)
MCOUNT=TRUE

# Amount of RAM that your Mincecraft server will use M or G (instead of MB and GB) e.g.: RAM=2024M or RAM=10G
RAM=4G

# Name of your java executable.
# (Default java) that you can view with "java --version" is for exaple: JAVABIN=/usr/bin/java
JAVABIN=/usr/bin/java17

# --- Backups ---
# Do you need backups?
# Then you have to set it to TRUE
BACKUP=FALSE
# Were should the backups under "/ununsed/" be saved?
# The backups will be saved in "/unused/(BPATH folder)"
BPATH=Paper_backups

## (Cloud / faster save feature may comming in v4.7.0.0)


# --- Bedrock Edition (MCPE) ---
# Get Floodgate updater? Otherwise nobody can join without Java Edition account from Bedrock.
BESUPPORT=TRUE
# Geyser too? Because you didn't need it, if this server is connected with a proxy.
GBESUPPORT=TRUE


# --- Editable messages ---
# If you know how colors works on shell, you can add colors in it. 

MPREFIX="\033[1;30m[\033[1;32mArgantiu\033[1;30m]\033[0;37m"
MTRANZLATION="The server is not running. Starting server."
NTRANZLATION="Notification: Stopping $DISPLAYNAME server ..."

# In this messages under here, are colors NOT ALLOWED!
# Stopping message tranzlation:
MESSAGESTOP="Server is stopping in"

# Message time tranzlation:
DISPLAYTRANZTIME="seconds"

# Colorcodes:
# Black:        \033[0;30m'     Dark Gray:     \033[1;30m'
# Red:          \033[0;31m'     Light Red:     \033[1;31m'
# Green:        \033[0;32m'     Light Green:   \033[1;32m'
# Brown/Orange: \033[0;33m'     Yellow:        \033[1;33m'
# Blue:         \033[0;34m'     Light Blue:    \033[1;34m'
# Purple:       \033[0;35m'     Light Purple:  \033[1;35m'
# Cyan:         \033[0;36m'     Light Cyan:    \033[1;36m'
# Light Gray:   \033[0;37m'     White:         \033[1;37m'

# End of config file. If this is not here, your configuration file is broken.
# Under here there are only the replacemants. PLEASE DO NOT CHANGE.
sed -i 's/false/true/g' $LPATH/eula.txt >/dev/null 2>&1
sed -i 's;restart-script: ./start.sh;restart-script: ./restart.sh;g' $LPATH/spigot.yml >/dev/null 2>&1
# Replace settings
sed -i "0,/OPTBASE=.*/s//OPTBASE=$OPTBASE/" $LPATH/mcsys/restart.sh $LPATH/mcsys/start.sh >/dev/null 2>&1
sed -i "0,/SERVERBASE=.*/s//SERVERBASE=$SERVERBASE/" $LPATH/mcsys/restart.sh $LPATH/mcsys/start.sh $LPATH/mcsys/stop.sh >/dev/null 2>&1
sed -i "0,/MCNAME=.*/s//MCNAME=$MCNAME/" $LPATH/mcsys/stop.sh $LPATH/mcsys/start.sh >/dev/null 2>&1
sed -i "0,/MAINVERSION=.*/s//MAINVERSION=$MAINVERSION/" $LPATH/mcsys/start.sh >/dev/null 2>&1
sed -i "0,/MAINVERSION=.*/s//MAINVERSION=$MAINVERSION/" $LPATH/mcsys/start.sh >/dev/null 2>&1
